In [10]:
import pandas as pd


df = pd.read_csv('loan_data.csv')
df.head()

   Income  Credit_Score  Loan_Amount  DTI_Ratio  Employment_Status  Approval
0   26556           581         8314      79.26                  1         0
1  197392           389       111604      22.14                  1         0
2   44561           523        34118      45.44                  1         0
3  190363           729       118757      10.22                  0         0
4   61853           732        19210      44.13                  1         1

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24000 entries, 0 to 23999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Income             24000 non-null  int64
 1   Credit_Score       24000 non-null  int64
 2   Loan_Amount        24000 non-null  int64
 3   DTI_Ratio          24000 non-null  float64
 4   Employment_Status  24000 non-null  int64
 5   Approval           24000 non-null  int64
dtypes: float64(1), int64(5)
memory usage: 1.1 MB

In [12]:
from sklearn.model_selection import train_test_split

X = df.drop('Approval', axis=1)
y = df['Approval']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=125
)

In [13]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

model.fit(X_train, y_train);

In [14]:
from sklearn.metrics import (
    accuracy_score,
    confusion_matrix,
    ConfusionMatrixDisplay,
    f1_score,
    classification_report,
)

y_pred = model.predict(X_test)

accuray = accuracy_score(y_pred, y_test)
f1 = f1_score(y_pred, y_test, average="weighted")

print("Accuracy:", accuray)
print("F1 Score:", f1)

Accuracy: 0.8358333333333333
F1 Score: 0.8299013851249623